<%- include('../partials/admin-header.ejs') -%>

<link rel="stylesheet" href="/style/nav-admin.css">

<h5 class="">Coupons</h5>
<div class="d-flex">
    <form action="/admin/coupons"  class="col-4 d-flex search justify-content-between align-items-center">
        <input class="search-input" name="search" id="search" type="text" placeholder="Search..." required>
        <button style="border: none;" class="search-icon"><i class="bi bi-search"></i></button>
    </form>  
    <div class=" d-flex">
        <button onclick="createCoupon()" type="button" class=" btn addbutton"><i class="bi bi-plus-lg"></i><span class="dynmcNav">Add Coupons</span></button>                
    </div>
</div>
</div>
 <!-- here create model sstart -->
 <div class="modal fade" id="createModel" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top " role="document"> <!--centered -->
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="editModalLabel">create coupons</h5>
          </div>
          <div class="modal-body">
             <form id="createcoupon" action="/admin/coupons" method="POST" onsubmit="return validateForm()"  >

                <div class="form-group mt-2">
                    <label for="title">title <span class="text-danger">*</span></label>
                    <input type="text" class="form-control <%- locals.message === 'titleError' ? 'border border-danger' : '' %>
                                mt-2" name="title" id="title" placeholder="Enter coupon title"
                         autocomplete="name">
                    <small class="error-message text-danger" id="titleError">
                        <%= locals.message==='titleError' ? locals.error.message : '' %>
                    </small>
                </div>

                <div class="form-group mt-4">
                    <label for="couponcode">Coupon Code <span class="text-danger">*</span></label>
                    <input type="text" class="form-control <%- locals.message === 'couponcodeError' ? 'border border-danger' : '' %>
                                mt-2" name="couponcode" id="couponcode" placeholder="Enter coupon code"
                         autocomplete="name">
                    <small class="error-message text-danger" id="couponcodeError">
                        <%= locals.message==='couponcodeError' ? locals.error.message : '' %>
                    </small>
                </div>

                <div class="form-group mt-4">
                    <label for="percentage">Percentage %<span class="text-danger">*</span></label>
                    <input type="number" class="form-control mt-2" name="percentage" id="percentage" placeholder="Enter percentage of discount" autocomplete="number" min="1" pattern="[0-9]+" max="99" required>
                </div>
                
                <div class="form-group mt-4 d-flex mb-2">
                    <div style="flex:1" >                        
                        <label for="minPurchase">Min Purchase :<span class="text-danger">*</span></label>
                        <input type="number" class="form-control mt-2" name="minPurchase" id="minPurchase" placeholder="Enter min Amount" autocomplete="number" min="1" pattern="[0-9]+" required>       
                    </div>
                    <div style="flex:1" class="ms-2">
                        <label for="maxAmount">Max Discount Amount<span class="text-danger">*</span></label>
                        <input type="number" class="form-control mt-2" name="maxAmount" id="maxAmount" placeholder="Enter max Amout" autocomplete="number"  min="1" pattern="[0-9]+" required>      
                    </div>
                </div>

                <div class="form-group mt-4 d-flex mb-2">
                    <div style="flex:1" >                        
                        <label for="startdate">Start Date<span class="text-danger">*</span></label>
                        <input type="date" class="form-control mt-2" name="startdate" id="startdate" placeholder="Enter Start Date" autocomplete="date" required>       
                    </div>
                    <div style="flex:1" class="ms-2">
                        <label for="expdate">expire Date<span class="text-danger">*</span></label>
                        <input type="date" class="form-control mt-2" name="expdate" id="expdate" placeholder="Enter expire Date" autocomplete="date" required>   
                        <small class="error-message text-danger" id="expdateError">
                            <%= locals.message==='expdateError' ? locals.error.message : '' %>
                        </small>    
                    </div>
                </div>                

                <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" onclick="createCoupon()" data-dismiss="modal">Close</button>
                   <button type="submit" class="btn btn-primary"  >Save</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>

<div class="flex-column justify-content-center col-md-12">
        <h6 class="mt-4">Coupons details...</h6>

        <% if(!allCoupons || allCoupons.length === 0 ) { %>
            <h2>Coupons Not Found</h2>
            <% } else { %>
          <table class="table table-hover">
              <thead>
                <tr class="text-center align-middle">
                  <th scope="col">No</th>
                  <th scope="col">title</th>
                  <th scope="col">code</th>
                  <th scope="col">percentage</th>
                  <th scope="col">open date</th>
                  <th scope="col">end date</th>
                  <th scope="col">min CartValue</th>
                  <th scope="col">max Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% let j = 12*(page-1); allCoupons.forEach((data) => { %>
                <tr id="couponRow_<%= data._id %>" class="text-center align-middle">
                  <th scope="row"><%= ++j %></th>
                  <td id="couponName_<%= data._id %>" ><%= data.title %></td>
                  <td id="couponName_<%= data._id %>" ><b><%= data.couponCode %></b></td>
                  <td id="couponName_<%= data._id %>" ><%= data.percentage %>%</td>
                  <td id="couponName_<%= data._id %>">
                    <% const startDate = new Date(data.startDate); %>
                    <%= startDate.getDate() %>/<%= startDate.getMonth() + 1 %>/<%= startDate.getFullYear() %>
                  </td>
                  <td id="couponName_<%= data._id %>">
                    <% const expDate = new Date(data.expDate); %>
                    <%= expDate.getDate() %>/<%= expDate.getMonth() + 1 %>/<%= expDate.getFullYear() %>
                  </td>
                  <td id="couponName_<%= data._id %>" ><i class="bi bi-currency-rupee"></i> <%= data.minCartValue %></td>
                  <td id="couponName_<%= data._id %>" ><i class="bi bi-currency-rupee"></i> <%= data.maxDiscount %></td>
                  <td class="<%= data.status ? 'text-success' : 'text-danger' %>" id="status_<%= data._id %>" ><%= data.status ? 'Listed' : 'UnListed' %></td>
                  <td>
                    <div class="row justify-content-center align-items-center">
                    <div class="col-8 d-flex">
                      <button title="Status Toggle" id="toggleButton_<%= data._id %>" onclick="toggleStatus('<%= data._id %>')" type="button"
                         class="container btn <%= data.status ? 'btn-outline-danger': 'btn-outline-success' %>">
                         <%- data.status ? `<i class="bi bi-ban">&nbsp;</i>UnList` : `<i class="bi bi-card-checklist">&nbsp;</i>List` %> 
                        </button>
                    </div>
                    </div>
                  </td>
                  <td>
                    <div class="row justify-content-center align-items-center">
                          <div class="col-8 d-flex">
                              <button title="Delete" type="button" onclick="deleteCoupon('<%= data._id %>')" class="container btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></button>
                          </div>
                      </div>
                      </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <% } if( totalPages > 1) { %>
              <div  class="d-flex justify-content-center">
                  <ul class="pagination ">
                      <% for (let i = 1; i <= totalPages; i++) { %>
                          <li class="page-item <%= i === page ? 'active' : '' %>">
                              <a class="page-link" href="/admin/coupons?page=<%= i %>&search=<%= search || 0 %>"><%= i %></a>
                          </li>
                      <% } %>
                  </ul>
              </div>
              <% } %>
</div>

</div>
</div>
</main>

 <!-- toasted message -->
<% if(message) { %>
    <div id="toaster" class="toast show align-items-center bottom-2 end-2 p-1 position-fixed  border-0 <%= message.bg %> " style="right: 10px; bottom: 10px;" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="2000">
      <div class="d-flex">
        <div id="tosterbody" class="toast-body"><%= message.innertext %></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    <% } %> 
    <!-- end -->

<script src="/script/coupons.js"></script>

<%- include("../partials/admin-footer.ejs") -%>