<%- include("../partials/auth-header.ejs") -%>
    <div class="container-fluid div_logo"></div>
        <div class="d-fle flex-column justify-content-center">
            <div class="card card_login col-md-6 offset-md-3">
                <div class="card-body">
                    <h3 class="header-color card-title">admin Login</h3>
                    <form action="/admin/login" method="post" onsubmit="return loginValidate()">
                        <div class="form-group mt-4">
                            <label for="email">Email</label>
                            <input type="email" class="form-control <%- locals.message === 'emailError' ? 'border border-danger' : '' %>
                                        mt-2" name="email" id="email" placeholder="Enter email"
                                value="<%- locals.useremail ?? '' %>" autocomplete="email">
                            <small class="error-message text-danger" id="emailError">
                                <%= locals.message==='emailError' ? locals.error.message : '' %>
                            </small>
                        </div>
                        <div class="form-group mt-4 justify-content-between">
                            <div class="d-flex justify-content-between">
                                <label for="password">Password</label>
                            </div>
                            <input type="password" class="form-control <%- locals.message === 'emailError' ? 'border border-danger' : '' %>
                 mt-2" name="password" id="password" placeholder="********">
                            <small class="error-message text-danger" id="passwordError"><%-
                                    locals.message==='emailError' ? locals.error.message : '' %></small>
                        </div>
                        <div class="text-center p-3">
                            <button class="btn btn-primary submit_button" type="submit"><span
                                    class="signup_text">LOG IN</span></button>
                        </div>
                    </form>
                </div>
            </div>

            <%- include("../partials/auth-footer.ejs") -%>